
*{
    font-family:'Courier New', Courier, monospace
}

.container{
    display: grid;
    grid-template-columns: minmax(300,600px);
    grid-template-rows: auto 600px auto 600px auto;
    grid-template-areas: 
    "header "
    "list_nemu"
    "isi_nemu "
    "list_hilang"
    "isi_hilang"
    ;
    row-gap: 20px;
    margin: 40px;
    justify-content: center;
}

.header{
    background-color: rgb(177, 233, 255);
    border-radius: 100px;
    grid-area: header;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.list_nemu{
    background-color: rgb(16, 238, 164);
    overflow: scroll;
}

.list_nemu .barang{
    margin: 5px;
    border: solid;
    background-color: aliceblue;
}
.list_nemu .barang{
    cursor: pointer ;
    position: relative;
}
.list_nemu .barang:hover{
    background-color: aqua;
    transition: backgdround-color 0.5s;
}
.list_nemu .barang::after{
    content: "Klik Untuk Ambil Barang"; /* Ambil teks dari HTML */
    
    position: absolute;
    bottom: 100%;       /* Muncul di atas elemen */
    left: 50%;          /* Di tengah horizontal */
    transform: translateX(-50%); /* Geser biar pas tengah */
    
    /* Styling Tampilan */
    background-color: #333; /* Warna hitam */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* Biar teks gak turun baris */
    
    /* Sembunyikan dulu */
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s; /* Animasi halus */
    pointer-events: none; /* Biar popup gak ngeganggu klik mouse */
}
.list_nemu .barang:hover::after{
    opacity: 1;
    visibility: visible;
    bottom: 110%; /* Efek naik sedikit saat muncul */
}
.list_nemu > p{
    text-align: center;
    background-color: rgb(16, 238, 164);
    font-weight: 600;
    font-size:20px;
}


.isi_nemu{
    background-color: rgb(16, 238, 164);
    grid-area: isi_nemu;

}

.isi_nemu > p{
    text-align: center;
    font-weight: 600;
    font-size: 20px
}

.isi_nemu .form{
    background-color: aliceblue;
}


.list_cari{
    background-color: antiquewhite;
    border: solid;
    grid-area: list_cari;
}


label, input{
    margin: 10px;
}
/*------- STYLE HILANG  ------- */

.list_hilang{
    background-color: rgb(16, 238, 164);
    overflow: scroll;
}

.list_hilang .barang{
    margin: 5px;
    border: solid;
    background-color: aliceblue;
}
.list_hilang .barang{
    cursor: pointer ;
    position: relative;
}
.list_hilang .barang:hover{
    background-color: aqua;
    transition: backgdround-color 0.5s;
}
.list_hilang .barang::after{
    content: "Klik Untuk Jika Kamu Menemukan Barang ini"; /* Ambil teks dari HTML */
    
    position: absolute;
    bottom: 100%;       /* Muncul di atas elemen */
    left: 50%;          /* Di tengah horizontal */
    transform: translateX(-50%); /* Geser biar pas tengah */
    
    /* Styling Tampilan */
    background-color: #333; /* Warna hitam */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* Biar teks gak turun baris */
    
    /* Sembunyikan dulu */
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s; /* Animasi halus */
    pointer-events: none; /* Biar popup gak ngeganggu klik mouse */
}
.list_hilang .barang:hover::after{
    opacity: 1;
    visibility: visible;
    bottom: 110%; /* Efek naik sedikit saat muncul */
}
.list_hilang > p {
    text-align: center;
    background-color: rgb(16, 238, 164);
    font-weight: 600;
    font-size:20px;
}
/*-------------------------------------------------*/


.isi_hilang{
    background-color: rgb(16, 238, 164);
    grid-area: isi_hilang;

}

.isi_hilang > p{
    text-align: center;
    font-weight: 600;
    font-size: 20px
}

.isi_hilang .form{
    background-color: aliceblue;
}